.git
__pycache__/
bkp/
.DS_Store
./examples/.DS_Store
./examples/auto_renamed_pdf
.venv/
.DS_Store
.python-version
build/
dist/
*.egg-info/
*.egg
*.so
*~.vscode/
venv*/
*.pyc
./generate_distribution.sh
./reinstall_package_locally.sh
upload_distribution_to_TestPyPI.sh